@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)

@import views.html.helper.semantic.form._

@main(Messages("sign.up.title")) {
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui message">
        <p>
        @signUp()
        </p>
      </div>
    </div>
  </div>
}

@signUp() = {
  <form action="@routes.SignUpController.signUp()" class="ui form" method="POST">

    <fieldset class="">
      <legend>@Messages("signup")</legend>
        @message()
        @helper.CSRF.formField
        @text(signInForm("firstName"), Messages("first.name"), Messages("first.name"), true)
        @text(signInForm("lastName"), Messages("last.name"), Messages("last.name"), true)
        @text(signInForm("email"), Messages("email"), Messages("email"), true)
        @password(signInForm("password"), Messages("password"), Messages("password"), true)
        <input id="submit" type="submit" value="@Messages("sign.up")" class="ui primary button"/>
    </fieldset>
  </form>
  <div class="sign-in-now">
    <p>@Messages("signup.existingAccount")? <a href="@routes.ApplicationController.signIn">@Messages("sign.in.non")</a></p>
  </div>
}

@message() = {
  @request.flash.get("error").map { msg =>
    <div class="ui error message">
      <div class="header">@Messages("error")!</div>
      @msg
    </div>
  }
}
