@(signInForm: Form[forms.SignInForm.Data], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, lang: Lang, messages: Messages)

@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import views.html.helper.semantic.form._

@main(Messages("signin")) {
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui message">
        <p>
                @signIn()
        </p>
      </div>
    </div>
  </div>

}

@message() = {
  @request.flash.get("error").map { msg =>
    <div class="ui error message">
      <div class="header">Error!</div>
      @msg
    </div>
  }
}

@signIn() = {
  <form action="@routes.CredentialsAuthController.authenticate()" class="ui form" autocomplete= "off" method="POST" >
    <fieldset>
      <legend>@Messages("signin")</legend>
      @message()
      @helper.CSRF.formField

      @text(signInForm("email"), Messages("email"), Messages("email.placeholder"), true)
      @password(signInForm("password"), Messages("password"), Messages("password.placeholder"), true)
      @checkbox(signInForm("rememberMe"), Messages("signin.remember"), "checkbox", required = false, checked = true)
      <input id="submit" type="submit" class="ui primary button" value="@Messages("login")">

      <div>
        <p class="not-a-member">@Messages("signin.noAccount")? <a href="@routes.ApplicationController.signUp">@Messages("signin.now")</a></p>
      </div>

      @if(socialProviders.providers.nonEmpty) {
        <div class="social-providers">
          <p>@Messages("signin.existingAccounts")</p>
          <div>
          @for(p <- socialProviders.providers if p.id != "clef") {
            <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" style="width : 64 px ; height : 64 px ;"></a>
          }
          </div>
          @defining(socialProviders.get[ClefProvider]) { clef =>
            @if(clef.isDefined) {
              <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
            }
          }
        </div>
      }

    </fieldset>
  </form>
}
